.containerNavbar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(7, 131, 189, 0.808);
  align-items: center;
  padding: 10px;
  position: relative; /* Añadir position relative */
  z-index: 1; /* Ajustar el z-index para que esté por encima de las cards */
}

.categories {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.categories li {
  background-color: rgb(232, 238, 237);
  padding: 10px 20px;
  color: #0c0218;
  border-radius: 10px;
  margin-right: 20px;
}

.logo {
  width: 100px;
  height: auto;
}

/* Mostrar/ocultar el menú en dispositivos pequeños */
.categories {
  display: flex;
}

.categories.show {
  display: none;
}

.menuIcon {
  display: none; /* Ocultar el icono de hamburguesa en dispositivos grandes */
}

@media (max-width: 768px) {
  .categories {
    display: none; /* Ocultar el menú en dispositivos pequeños */
  }

  .categories.show {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .categories li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .menuIcon {
    display: block; /* Mostrar el icono de hamburguesa en dispositivos pequeños */
    cursor: pointer;
  }
}
