.containerNavbar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(7, 131, 189, 0.808);
  align-items: center;
  padding: 10px;
}

.categories {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.categories li {
  background-color: rgb(232, 238, 237);
  padding: 10px 20px;
  color: #0c0218;
  border-radius: 10px;
  margin-right: 20px;
}

.logo {
  width: 100px;
  height: auto;
}

@media (max-width: 768px) {
  .containerNavbar {
    flex-direction: column; /* Cambia a una columna en pantallas más pequeñas */
    align-items: flex-start; /* Alinea al inicio en pantallas más pequeñas */
  }

  .categories {
    margin-top: 10px;
    flex-direction: column; /* Cambia a una columna en pantallas más pequeñas */
  }

  .categories li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
