.formu_centro {
  display: flex;
  justify-content: center;
  color: aliceblue;
}
.form_style {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgb(145, 185, 231);
  max-width: 400px;
  gap: 1rem;
  margin: 10% auto;
  padding: 20px;
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
  .form_style {
    max-width: 100%;
    margin: 50% 10px;
  }
}
