.Cart_texto {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  /* background:linear-gradient(to bottom, #000046, #71abbb ); */
  color: aliceblue;
  align-items: center;
}

.carrito_cart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  padding-top: 2rem;
  color: antiquewhite;

}



.carrito_cart_img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  height: 150;
}

.imagen_carrito {
  max-width: 100%;
  height: auto;
  margin: 10px;
  border-radius: 10%;
}

.boton_carrito {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: flex-end;
  margin: 1rem;
  gap: 1rem;
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
  .carrito_cart {
    flex-direction: column;
    align-items: center;
  }

  .boton_carrito {
    flex-direction: column;
  }
}
