/* .card_media {
   display: grid;
   grid-template-columns:  repeat(auto-fit, minmax(200px,1fr));
gap:32px;
}

@media (min-width: 768px) {
    .card_media {
        display: grid;
        grid-template-columns:  repeat(auto-fit, minmax(200px,1fr));
        gap:32px;
    }
} */
