.centrar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
  }
  
 .separacion{
  padding: 1rem;
  margin: 20px;
 }

 /* Estilos para dispositivos de pantalla pequeña (por ejemplo, teléfonos móviles) */
@media screen and (max-width: 600px) {
  .centrar {
    flex-direction: column; /* Cambiar a dirección de columna */
    padding: 1rem; /* Reducir el padding */
  }
  
  .separacion {
    margin: 10px; /* Reducir el margen */
  }
}

/* Estilos para dispositivos de pantalla mediana (por ejemplo, tabletas) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .centrar {
    padding: 1.5rem; /* Ajustar el padding */
  }
  
  .separacion {
    margin: 15px; /* Ajustar el margen */
  }
}

/* Estilos para dispositivos de pantalla grande (por ejemplo, computadoras de escritorio) */
@media screen and (min-width: 1025px) {
  .centrar {
    padding: 2rem; /* Mantener el padding original */
  }
  
  .separacion {
    margin: 20px; /* Mantener el margen original */
  }
}
